*.pur filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.kra filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.tx filter=lfs diff=lfs merge=lfs -text
Robot[[:space:]]Arm/Textures/ArnoldTex/.mayaSwatches/* filter=lfs diff=lfs merge=lfs -text
